body {
  /* background-color: cadetblue; */
}

.card:nth-child(odd) {
  background-color: lightblue;
}

.card:nth-child(even) {
  background-color: lightyellow;
}

.card-border {
  border: 2px dotted red;
}
